body{
    background-color: gray;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:50px auto auto auto 50px;
    grid-gap: 20px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    background-color: gray;
    color: wheat;
}


img, li{
    list-style-type:none;
    text-align:left;
    width: 70%;
}

#sida2 .wrapper{
    grid-template-columns:1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}
div{
    margin: 0 auto;
}
#sida3 .wrapper{
    grid-template-columns:1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
    padding: 0 10px 0 10px;
}

#sida2 aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}



footer{
    grid-area: footer;
}

h1{
    text-align:center;
}

a:visited, a:active {
    text-decoration: none;
    color: lightgray;
}

a{
    text-decoration:solid;
    color:lightgray;
}

a:hover{
    text-decoration:none;
    color:red;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template.rows: 1fr 1fr;
    padding: 0;
    margin: 0;
    height: 100%;
    grid-gap: 10px;
    justify-items: center;
}

nav li{
    list-style-type:none;
    font-size: 1.5em;
    text-align:center;
    border: 1px solid brown;
    border-radius: 10px;
    margin-right:10px;
    line-height: 2;
}

li:hover{
    transform: 10px;
}

aside{
    grid-area:aside;
}


table, th, td{
    border: 1px solid brown;
    border-collapse: collapse;
    height: auto;
    width: 900px;
    text-align: center;
}

tr:nth-child(even){
    background-color: tan ;
}
tr:nth-child(odd){
    background-color: beige ;
}



#sida2 img{
    height: 160px;
    width: 304px;
}